---
- name: Install Vector
  hosts: vector
  tags: vector
  tasks:
    - name: Get vector distrib
      become: true
      ansible.builtin.yum:
        name: https://packages.timber.io/vector/0.31.0/vector-0.31.0-1.x86_64.rpm
        state: present
    - name: Configure vector | ensure what directory exists
      ansible.builtin.file:
        path: "{{ vector_config_dir }}"
        state: directory
        mode: "0644"
      notify: Start vector service
    - name: Configure vector | Template config
      become: true
      ansible.builtin.template:
        src: vector.yml.j2
        mode: "0644"
        dest: "{{ vector_config_dir }}/vector.yml"
    - name: Configure vector service | Template systemd
      become: true
      ansible.builtin.template:
        src: vector.service.j2
        dest: /etc/systemd/system/vector.service
        mode: "0644"
      notify: Start vector service